<button type="button" class="button-10" data-toggle="modal" data-target="#exampleModalLong">
  <span class="text">〜ご利用の流れ〜</span>
</button>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">ご利用の流れ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-text">
          <a>01</a></br>
          インフルエンサーに依頼する案件を「投稿フォーム」にて投稿をお願い致します！</br>
          案件にはハッシュタグを付けることや写真をのせることができます！
        </div>
        <div class="modal-text">
          <a>02</a></br>
          投稿ができましたらインフルエンサーを探しましょう！</br>
          インフルエンサー一覧から気になるインフルエンサーのページに行き申請ボタンを押しましょう！
        </div>
        <div class="modal-text">
          <a>03</a></br>
          申請ボタンから申請ページに行き対象の案件を選びメッセージを添えて送信しましょう！</br>
        </div>
        <div class="modal-text">
          <a>04</a></br>
          承諾されましたら対象の案件詳細ページに行き</br>
          インフルエンサーからメッセージにてご連絡先が書かれていますのでそちらから案件詳細のご連絡をお願い致します。
        </div>
        <div class="modal-text">
          <a>05</a></br>
          無事に案件が終了しましたら案件詳細ページにてレビューをお願い致します。</br>
          こちらのレビューが済まないと終了することができません。</br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>