<p><%= truncate influencer_project.message ,length: 10 %></p>
<p><%= influencer_project.project.title %></p>
<p><%= influencer_project.project.company.company_name %></p>
<p><%= influencer_project.status %></p>