<h2 class="subject">通知一覧</h2>
<div class="container">
    <% if influencer_signed_in? %>
      <h5 class="">新着通知</h5>
      <div class="row">
        <% @influencer_projects.each do |influencer_project| %>
          <% if influencer_project.status == "request" %>
            <div class="card" style="width: 17rem;">
              <div class="request">新規の申請が届きました！</div>
              <%= link_to influencer_project_path(influencer_project.id),class: 'btn-project' do %>
                <%= render 'influencer_projects/message', influencer_project: influencer_project %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <h5 class="">レビュー待ち</h5>
      <div class="row">
        <% @influencer_projects.each do |influencer_project| %>
          <% if influencer_project.status == "completion" %>
            <div class="card" style="text-align:center;">
              <div class="request">レビューをお願い致します！</div>
              <%= link_to new_company_review_path(influencer_project),class: 'btn-project' do %>
                <p><%= truncate influencer_project.message ,length: 10 %></p>
              <% end %>
                <p><%#= influencer_project.status %></p>
                <p><%#= influencer_project.project.company.company_name %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
</div>