<div class="top_body">
  <div class="top_page">
  　<%= image_tag asset_path('handshake'), class:'top_img' %>
    <ul class="top_footer">
      <li>
        <%= link_to 'for company', homes_company_info_path ,class: 'btn-danger'%>
      </li>
      <li>
        <%= link_to 'for influencer', homes_influencer_info_path ,class: 'btn-danger' %>
      </li>
    </ul>
  </div>
</div>