<!--<div class="container">-->
<!--  <div class="row">-->
    <div class="top-body">
      <div class="top_page">
      　<%= image_tag asset_path('handshake.jpg'), class:'top_img' %>
      　<p class="top-title">影響力のあるインフルエンサーと、商品やサービスをPRしたい企業のマッチングプラットフォーム</p>
      　<p class="top-logo">JOIN HANDS</p>
        <div class="top_footer">
          <li>
            <%= link_to 'for company', homes_company_info_path ,class: 'button-gradation'%>
          </li>
          <li>
            <%= link_to 'for influencer', homes_influencer_info_path ,class: 'button-gradation' %>
          </li>
        </ul>
      </div>
    </div>
<!--  </div>  -->
<!--</div>-->